<div class="container">
  <%= form_with model:@receipt,  local: true do |f| %>
  
  <div class="customer-name">
    <%= f.text_field :customer_name, placeholder:"お宛名" %>
  </div>
  
  <div class="fee">
    <%= f.text_field :fee, placeholder:"料金" %>
  </div>
  
  <div class="date">
    <label>日付</label>
      <%= raw sprintf(
        f.date_select(
          :date,
          use_month_numbers: true,
          prompt:'--',
          start_year: Time.now.year,
          end_year: Time.now.year,
          date_separator: '%s'),
        "<span> 年 </span>", "<span> 月 </span>") + "<span> 日 </span>" %>
  </div>
  
  <div class="cashless">
    <label>キャッシュレス</label>
    <%= f.check_box :cashless %>
  </div>
  
  <div class="course">
    <label>コース</label>
    <%# <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %> %>
  </div>
  
  <div class="member">
    <label>大人</label>
    <%# <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %> %>
    <label>小人</label>
    <%# <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %> %>
  </div>
  
  <div class="group">
    <label>グループ</label>
    <%= f.check_box :group %>
  </div>
  
  <div class="from-at">
    <%= f.text_field :departure_from, placeholder:"出発地" %>〜
    <%= f.text_field :arrival_at, placeholder:"到着地" %>
  </div>
  
  <div class="times">
    <%= f.text_field :departure_time, placeholder:"出発時刻" %>〜
    <%= f.text_field :arrival_time, placeholder:"到着時刻" %>
  </div>

  <div class="course-time">
    <%= f.text_field :fee, placeholder:"コースタイム" %>
  </div>
  
  <div class="over-time">
    <label>時間超過 radio-box</label>
    <%# <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %> %>
  </div>
  
  <div class="submit">
      <%= f.submit "確定する" %>
  </div>
  <% end %>
</div>